* {
  padding: 0%;
  margin: 0%;
}
html {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
.blockNavbar {
  display: flex;
  padding: 10%;
}
.blockNavbar .blockNavbar__logo {
  width: 1rem;
}
.blockHero {
  display: grid;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 2rem;
}
.blockHero .blockHero__image {
  width: 136%;
}
.blockAttributes {
  display: flex;
  flex-wrap: row;
  align-content: center;
  padding: 6% 6% 0% 6%;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
}
.blockAttributes .blockAttributes__lineEmphasis {
  background-color: #242942;
  color: #eef3f6;
  align-self: center;
  font-weight: 700;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 50px;
  margin-right: 1rem;
}
.blockAttributes .blockAttributes__lineNormal {
  align-self: center;
  margin-right: 1.2rem;
  color: #a0a1ac;
  letter-spacing: 2.5px;
}
.blockDescription {
  display: grid;
  padding: 6%;
}
.blockDescription .blockDescription__header {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #242942;
  padding-bottom: 0.5rem;
}
.blockDescription .blockDescription__paragraph {
  color: #242942;
  padding-right: 3rem;
  padding-bottom: 1rem;
}
.blockCTA {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.blockCTA .blockCTA__button {
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  border: none;
  color: white;
  background-color: #ff5c5c;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.blockCTA .blockCTA__lineNormal {
  text-transform: uppercase;
  font-size: 14px;
  color: #a0a1ac;
  font-family: "Barlow Condensed", sans-serif;
  align-self: center;
  letter-spacing: 1.5px;
}
