// GLOBAL STYLES AND VARIABLES
$primary-color: hsl(0, 100%, 68%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);
$body-font: 'Barlow', sans-serif;
$header-font: 'Barlow Condensed', sans-serif;

*{
    padding: 0%;
    margin: 0%;
}


html{
    font-size: 18px;
    font-family: $body-font;
}

.artBackground{
    width: 52%;
    position: absolute;
    right: 0;
    height: 78%;
    border-bottom-left-radius: 48px;
    background-color: $light-grayish-blue;
    z-index: -1;
}

// NAVBAR STYLES
.blockNavbar{
    display:flex;
    padding: 2rem;
    justify-content: space-between;
    .blockNavbar__logo{
        width: 1.5rem;
        align-self: center;
    }
}

//HAMBURGER MENU STYLES
.blockDesktopMenu{
    display:none;
}

.blockHamMenu {
    display: inline-block;
    cursor: pointer;
    .blockHamMenu__barOne,
    .blockHamMenu__barTwo,
    .blockHamMenu__barThree
     {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
  }
    .change .blockHamMenu__barOne {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .blockHamMenu__barTwo {
    opacity: 0;
    }
    .change .blockHamMenu__barThree {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


//DROPDWON MENU STYLES
.blockDropdownMenu{
    display: none;
    background-color: white;
    margin: 1rem 4rem 1rem 4rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    -webkit-box-shadow: 10px 10px 31px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px -19px rgba(0,0,0,0.75);
    
    .blocDropdownMenu__dropdown{
        list-style-type: none;
        text-align: center;
    }

    .blocDropdownMenu__dropdown a{
        text-decoration: none;
        color: $very-dark-blue;
    }

    .blocDropdownMenu__dropdown li{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .blocDropdownMenu__dropdown :nth-child(1){
        padding-top: 0.5rem;
    }

    .blocDropdownMenu__dropdown :nth-child(3){
        border-bottom: 1px solid $light-grayish-blue;
        padding-bottom: 0.5rem;
    }

    .blocDropdownMenu__dropdown :nth-child(4){
        padding-bottom: 0.5rem;
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }
}
.drop{
    display: block;
}



// HERO STYLES

.blockHero{
    display: grid;
    width: 100vw; 
    overflow: hidden;
    margin-bottom: 2rem;
    .blockHero__image{
        width: 136%;
    }
}

// ATTRIBUTES STYLES

.blockAttributes{
    display: flex;
    flex-wrap: row;
    align-content: center;
    padding: 6% 6% 0% 6%;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    .blockAttributes__lineEmphasis{
        background-color: $very-dark-blue;
        color:$light-grayish-blue;
        align-self: center;
        font-weight: 700;
        padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        border-radius: 50px;
        margin-right: 1rem;
    }
    .blockAttributes__lineNormal{
        align-self: center;
        margin-right: 1.2rem;
        color: $grayish-blue;
        letter-spacing: 2.5px;
    }
}

//DESCRIPTION STYLES

.blockDescription{
    display: grid;
    padding: 6%;
    .blockDescription__header{
        font-family: $header-font;
        font-weight: 700;
        font-size: 2.3rem;
        text-transform: uppercase;
        color: $very-dark-blue;
        padding-bottom: 0.5rem;
    }
    .blockDescription__paragraph{
        color: $very-dark-blue;
        padding-right: 3rem;
        padding-bottom: 1rem; 
    }
}

//CALL TO ACTION STYLES 

.blockCTA{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
    .blockCTA__button{
        padding: 12px 24px 12px 24px;
        border-radius: 8px;
        font-weight: 600;
        font-family:$header-font;
        border: none;
        color: white;
        background-color: $primary-color;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
    .blockCTA__lineNormal{
        text-transform: uppercase;
        font-size: 14px;
        color: $grayish-blue;
        font-family: $header-font;
        align-self: center;
        letter-spacing: 1.5px;
    }
}


@media (min-width: 835px){
    .blockNavbar{
        padding: 4rem;
    }
    .blockHamMenu{
        display:none;
    }
    .blockDesktopMenu{
        display: flex;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;

        .bullet{
            margin-right: 1rem;
        }

        .blockDesktopMenu__links{
        display: inline-flex;
        list-style-type: none;
        text-align: center;
        }

        .blockDesktopMenu__links :nth-child(4){
            padding-bottom: 0.5rem;
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.2;
            text-decoration: none;
        }

        .blockDesktopMenu__links :nth-child(5){
            padding-bottom: 0.5rem;
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.6;
            text-decoration: none;
        }
        
        .blockDesktopMenu__links a{
        text-decoration: none;
        color: $very-dark-blue;
        margin-right: 1.6rem;
        }
    }
    .blockDescription__header{
        text-align: center;
    }
    .blockDescription__paragraph{
        text-align: center;
    }
}


@media (min-width: 1024px)  { 
    html{
        font-size: 24px;
    }
    .desktop{
        display: flex;
    }
    .desktopContent{
        align-self: end;
        order: -1;
    }
    .desktopHero{
        order: 1;
    }
    .blockHero{
        width: 50vw; 
        overflow: hidden;
        margin-bottom: 2rem;
        .blockHero__image{
            width: 125%;
        }
    }
    .blockDescription__header{
        text-align: left;
    }
    .blockDescription__paragraph{
        text-align: left;
    }
}


@media (min-width: 1440px) { 
    .blockDescription{
        padding: 0rem 5rem 0rem 5rem;
    }
    .blockAttributes{
        padding: 0rem 5rem 0rem 5rem;
    }

}
