* {
  padding: 0%;
  margin: 0%;
}

html {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

.artBackground {
  width: 52%;
  position: absolute;
  right: 0;
  height: 78%;
  border-bottom-left-radius: 48px;
  background-color: #eef3f6;
  z-index: -1;
}

.blockNavbar {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}
.blockNavbar .blockNavbar__logo {
  width: 1.5rem;
  align-self: center;
}

.blockHamMenu {
  display: inline-block;
  cursor: pointer;
}
.blockHamMenu .blockHamMenu__barOne,
.blockHamMenu .blockHamMenu__barTwo,
.blockHamMenu .blockHamMenu__barThree {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .blockHamMenu__barOne {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .blockHamMenu__barTwo {
  opacity: 0;
}

.change .blockHamMenu__barThree {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.blockDropdownMenu {
  display: none;
  background-color: white;
  margin: 1rem 4rem 1rem 4rem;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-shadow: 10px 10px 31px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 31px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 31px -19px rgba(0, 0, 0, 0.75);
}
.blockDropdownMenu .blocDropdownMenu__dropdown {
  list-style-type: none;
  text-align: center;
}
.blockDropdownMenu .blocDropdownMenu__dropdown a {
  text-decoration: none;
  color: #242942;
}
.blockDropdownMenu .blocDropdownMenu__dropdown li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.blockDropdownMenu .blocDropdownMenu__dropdown :nth-child(1) {
  padding-top: 0.5rem;
}
.blockDropdownMenu .blocDropdownMenu__dropdown :nth-child(3) {
  border-bottom: 1px solid #eef3f6;
  padding-bottom: 0.5rem;
}
.blockDropdownMenu .blocDropdownMenu__dropdown :nth-child(4) {
  padding-bottom: 0.5rem;
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.drop {
  display: block;
}

.blockHero {
  display: grid;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 2rem;
}
.blockHero .blockHero__image {
  width: 136%;
}

.blockAttributes {
  display: flex;
  flex-wrap: row;
  align-content: center;
  padding: 6% 6% 0% 6%;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
}
.blockAttributes .blockAttributes__lineEmphasis {
  background-color: #242942;
  color: #eef3f6;
  align-self: center;
  font-weight: 700;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 50px;
  margin-right: 1rem;
}
.blockAttributes .blockAttributes__lineNormal {
  align-self: center;
  margin-right: 1.2rem;
  color: #a0a1ac;
  letter-spacing: 2.5px;
}

.blockDescription {
  display: grid;
  padding: 6%;
}
.blockDescription .blockDescription__header {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #242942;
  padding-bottom: 0.5rem;
}
.blockDescription .blockDescription__paragraph {
  color: #242942;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.blockCTA {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.blockCTA .blockCTA__button {
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  border: none;
  color: white;
  background-color: #ff5c5c;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.blockCTA .blockCTA__lineNormal {
  text-transform: uppercase;
  font-size: 14px;
  color: #a0a1ac;
  font-family: "Barlow Condensed", sans-serif;
  align-self: center;
  letter-spacing: 1.5px;
}

/*# sourceMappingURL=main.css.map */
